header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: #084C61;
}

.logo{
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    color: whitesmoke;
    font-weight: bold;
}

.favorites{
    margin-left: 20px;
    cursor: pointer;
    background-color: #E3B505;
    padding: 5px 14px;
    text-decoration: none;
    color: black;
    border-radius: 4px;
}

.favorites:hover{
    color: aliceblue;
}